BACKUP_ENCRYPTION_KEY=
BACKUP_PATH=/tmp
CLIENT_URL=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_URL=
COOKIE_SECRET=
CORS_ORIGINS=
EMAIL_PASS=
EMAIL_USER=
ENABLE_CRON=true
FRONTEND_URL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_DRIVE_FOLDER_ID=
GOOGLE_REDIRECT_URI=
GOOGLE_SERVICE_ACCOUNT=
GOOGLE_SHEET_ID=
GOOGLE_SHEET_NAME=Sheet1
JWT_EXPIRES_IN=15m
JWT_SECRET=
MAX_REG_PER_DAY=5
MONGO_URI=
NODE_ENV=production
RECAPTCHA_SECRET_KEY=
REFRESH_EXPIRES_IN=1d
REFRESH_TOKEN_SECRET=
SENDGRID_API_KEY=SG.xxxxxxxxxxxxx
EMAIL_FROM=
CRON_TIMEZONE=Asia/Ho_Chi_Minh
# ===== STREAK CONFIG =====
STREAK_COLLECTION=streaks
STREAK_TZ=Asia/Ho_Chi_Minh
DEVICE_MAX_USAGE_PER_DAY=
PHONE_DIVERSITY_LIMIT=3
PHONE_SPAM_COOLDOWN_MS=3000
IP_ACTION_LIMIT=5
#redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
#redis trên render
#REDIS_URL=xxxxxxxx
MONGO_CLEANUP_URI=
DRY_RUN=false