
#Mongodb Atlas
MONGO_URI=mongodb_atlas
#JWT
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=15m
REFRESH_EXPIRES_IN=7d
REFRESH_TOKEN_SECRET=your_refresh_token_secret_here
COOKIE_SECRET=your_cookie_secret_here
#Recaptcha
RECAPTCHA_SECRET_KEY=your_recaptcha_secret_key
#Google API
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
GOOGLE_REDIRECT_URI=http://localhost:5000/api/auth/google/callback
#frontend url
FRONTEND_URL=https://lucy-class.vercel.app

NODE_ENV=production

#nodemailer
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_email_password_or_app_password

#giới hạn thiết bị được đăng kí mấy lần/ 1 ngày
MAX_REG_PER_DAY=5

# Storage Configuration (Unified)
BACKUP_PATH=/tmp/backups
BACKUP_ENCRYPTION_KEY=your_generated_key_here

#id Google Drive
GOOGLE_DRIVE_FOLDER_ID=your_google_drive_folder_id

#url cors
CORS_ORIGINS=https://lucy-class.vercel.app


CLOUDINARY_API_SECRET=xxxxxxxxx
CLOUDINARY_API_KEY=xxxxxxxxx
CLOUDINARY_CLOUD_NAME=xxxxxxxxxxx
CLOUDINARY_URL=xxxxxxxxx
